
navbar [class="bg-white border-gray-200 px-2 sm:py-2.5 rounded dark:bg-gray-800 shadow-md"]
    div [class=" flex flex-wrap justify-between items-center mx-auto"]
        =render(::Layout::Header::Navigation::Logo::Component.new)
        =render(::Layout::Header::Navigation::Menu::Component.new)