div[class="bg-no-repeat bg-center bg-blue-100 bg-left-top grid grid-cols-2 text-center" style="background-image: url(https://cdn.escala.com/wp-content/themes/oceanwp-child/resources/assets/images/overlays/estrellas%202.png);"]
    =render(::Body::SectionRegistro::LeftRegister::Component.new)
    =render(::Body::SectionRegistro::RightRegister::Component.new)