.container.mx-auto.mt-5.text-center
  h2
    | Clientes que hacen crecer sus negocios con 
    span
      | Escala
.container.mx-auto.mt-5.grid.grid-cols-2.gap-12
  .p-10.bg-gray-200
    h5
      | Agencia de Publicidad
    h6
      | El Salvador
    p
      | “Escala tiene el email builder más amigable que he utilizado en los últimos años, y su equipo está comprometido a mantener la plataforma en constante actualización en el dinámico mundo digital.”
    .grid.grid-cols-2.mt-10
      img[src="" alt=""]
      div
        p
          | Verónica Bolaños Account Manager
        p
          | Publicidad Comercial
  .p-10.bg-gray-200
    h5
      | Agencia de Marketing
    h6
      | México
    p
      | “Son muchas herramientras integradas en un solo sitio, una herramienta muy sencilla de utilizar y le da mucho beneficio al cliente. Nunca me habían atendido de esta manera en ningún tipo de plataforma similar. Primera vez que me atienden de esta manera y agradecidos enormemente. Felicidades porque tienen un equipo de trabajo increíble.”
    .grid.grid-cols-2.mt-10
      img[src="https://cdn.escala.com/wp-content/uploads/2021/05/Huella-Studio-1.png" alt="Agencia de Marketing"]
      div
        p
          | Ernesto Valery y Edher Nieves Director Creativo
        p
          | Huella Studio
  .p-10.bg-gray-200
    h5
      | Turismo
    h6
      | Venezuela
    p
      | a
    .grid.grid-cols-2.mt-10
      img[src="https://cdn.escala.com/wp-content/uploads/2021/05/Infinito-Producciones-1.png" alt="Turismo"]
      div
        p
          | Michell Peláez Ejecutiva de cuentas corporativas
        p
          | Infinito Producciones
  .p-10.bg-gray-200
    h5
    h6
    p
      | a
    .grid.grid-cols-2.mt-10
      img[src="https://cdn.escala.com/wp-content/uploads/2021/05/Initiative-1.png" alt="Agencia de Comunicaciones"]
      div
        p
          | Dayana Palacios Directora de medios y marketing digital
        p
          | Initiative
  .p-10.bg-gray-200
    h5
      | Academia de Coaching
    h6
      | Estados Unidos
    p
      | ¡¡Extraordinario equipo con conocimientos sólidos de la realidad de lanzamientos de iniciativas de aprendizaje y crecimiento!!! 🔥🔥🔥🔥👏👏👏👏🙌
    .grid.grid-cols-2.mt-10
      img[src="https://cdn.escala.com/wp-content/uploads/2021/05/Logo-ILC-Academy-1-1.png" alt="Academia de Coaching"]
      div
        p
          | Fernando Celis CEO y Fundador
        p
          | ILC Academy
  .p-10.bg-gray-200
    h5
      | Entretenimiento Deportivo
    h6
      | Venezuela
    p
      | Felicitaciones al equipo de Escala, pues de verdad la plataforma me gusta bastante. Posee herramientas muy útiles y lo mejor e que es simple de manipular.
    .grid.grid-cols-2.mt-10
      img[src="https://cdn.escala.com/wp-content/uploads/2021/05/Savage-Paintball-1.png" alt="Entretenimiento Deportivo"]
      div
        p
          | Felix Pacheco
        p
          | Savage Paintball